### INTRODUCTION
When customers or subscribers stop doing business with a company or service, it is known as customer churn. Customers in the telecom sector can choose from a wide range of service providers and actively swap between them. The telecommunications industry has a 15 to 25% yearly turnover rate in this fiercely competitive market. One of the biggest threats to revenue loss in the telecom sector is customer churn. Fostering customer loyalty is essential since the cost of recruiting new customers can be up to 25 times higher than the cost of keeping existing ones.
For the Dataset we going to work with it will enable us predict a customers churn depending on the consumer information feed to our model.

The Dataset contains the following columns:RowNumber,CustomerId,Surname,CreditScore,Georaphy,Gender,Age,Tenure,Balance,NumOfProdcuts,HasCrCard,IsActiveMember,EstimatedSalary,Exited.

The dependent Variable is Exited which we will use to observe the outcome while the independent variables are the other columns which will enable us to get an outcome.

In [44]:
#import the required libraries
import pandas as pd
import numpy as np 
import tensorflow as tf
import seaborn as sb
import matplotlib.pyplot as plt
import pickle

from warnings import filterwarnings 
filterwarnings("ignore")

In [45]:
#load the data 
df = pd.read_csv(" Churn_Modelling.csv")

In [46]:
#view the columns
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [47]:
#dropping columns that wont be needed 
df.drop(['RowNumber','CustomerId','Surname'], axis=1, inplace=True)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [48]:
#dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

The dataset doesn't have any null values so no need for cleaning

In [49]:
#check for null values
df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

There no null values

In [50]:
#preprocessing data
from sklearn.preprocessing import LabelEncoder,OneHotEncoder , StandardScaler
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])

In [51]:
#lets if labelencoding worked
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

Gender value 0 represents a female respresent while 1 represent male

In [52]:
#lets perfrom preprocessing on geography
df['Geography'] = le.fit_transform(df['Geography'])

In [53]:
#lets if labelencoding worked
df.head(20)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0
5,645,2,1,44,8,113755.78,2,1,0,149756.71,1
6,822,0,1,50,7,0.00,2,1,1,10062.80,0
7,376,1,0,29,4,115046.74,4,1,0,119346.88,1
8,501,0,1,44,4,142051.07,2,0,1,74940.50,0
9,684,0,1,27,2,134603.88,1,1,1,71725.73,0
10,528,0,1,31,6,102016.72,2,0,0,80181.12,0
11,497,2,1,24,3,0.00,2,1,0,76390.01,0
12,476,0,0,34,10,0.00,2,1,0,26260.98,0
13,549,0,0,25,5,0.00,2,0,0,190857.79,0
14,635,2,0,35,7,0.00,2,1,1,65951.65,0
15,616,1,1,45,3,143129.41,2,0,1,64327.26,0
16,653,1,1,58,1,132602.88,1,1,0,5097.67,1
17,549,2,0,24,9,0.00,2,1,1,14406.41,0
18,587,2,1,45,6,0.00,1,0,0,158684.81,0
19,726,0,0,24,6,0.00,2,1,1,54724.03,0

Geography value 0 represents France ,2-represents Spain,1-represents Germany

In [54]:
#Define X and Y
x = df.drop('Exited',axis = 1)
y = df['Exited']

In [55]:
#Divide the data into training and testing 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.23)

In [56]:
#scaling 
sc = StandardScaler()
sc.fit_transform(x_train)
sc.transform(x_test)

array([[-0.15552086,  0.30619418, -1.09918237, ...,  0.64979892,
        -1.03354949,  0.96534202],
       [ 0.70181381, -0.90226056, -1.09918237, ...,  0.64979892,
        -1.03354949, -0.65128628],
       [-0.06255686, -0.90226056, -1.09918237, ...,  0.64979892,
        -1.03354949, -1.68449856],
       ...,
       [-0.43441286,  1.51464892, -1.09918237, ..., -1.53893761,
        -1.03354949,  1.72347571],
       [ 0.74313114, -0.90226056, -1.09918237, ..., -1.53893761,
         0.96753954,  1.17768033],
       [-1.09549019, -0.90226056,  0.90976714, ...,  0.64979892,
        -1.03354949, -0.67655056]])

In [57]:
#imports to prep the model
import tensorflow.keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

#initializing Neural Network layers
model = Sequential()
model.add(Dense(units=20, activation = 'relu'))
model.add(Dense(units=20, activation = 'relu'))
model.add(Dense(units=1,activation = 'sigmoid'))

In [58]:
#initializing optimizer and loss function
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [59]:
#initializing batches and epochs

epochs = model.fit(x_train , y_train, batch_size = 10, epochs = 100,verbose=1
                        ,validation_split=0.2)

Epoch 1/100
616/616 [==============================] - 1s 753us/step - loss: 142.8157 - accuracy: 0.6797 - val_loss: 60.6525 - val_accuracy: 0.7351
Epoch 2/100
616/616 [==============================] - 0s 518us/step - loss: 65.8526 - accuracy: 0.6831 - val_loss: 61.6509 - val_accuracy: 0.7987
Epoch 3/100
616/616 [==============================] - 0s 508us/step - loss: 61.3090 - accuracy: 0.6841 - val_loss: 59.1080 - val_accuracy: 0.2799
Epoch 4/100
616/616 [==============================] - 0s 499us/step - loss: 49.4548 - accuracy: 0.6851 - val_loss: 48.5365 - val_accuracy: 0.7948
Epoch 5/100
616/616 [==============================] - 0s 511us/step - loss: 47.2788 - accuracy: 0.6828 - val_loss: 34.2618 - val_accuracy: 0.8006
Epoch 6/100
616/616 [==============================] - 0s 527us/step - loss: 41.6698 - accuracy: 0.6808 - val_loss: 51.6531 - val_accuracy: 0.6071
Epoch 7/100
616/616 [==============================] - 0s 516us/step - loss: 46.0786 - accuracy: 0.6924 - val_loss: 45.1996 - val_accuracy: 0.5403
Epoch 8/100
616/616 [==============================] - 0s 503us/step - loss: 41.4999 - accuracy: 0.6760 - val_loss: 16.8334 - val_accuracy: 0.6279
Epoch 9/100
616/616 [==============================] - 0s 507us/step - loss: 39.9715 - accuracy: 0.6792 - val_loss: 20.3346 - val_accuracy: 0.7961
Epoch 10/100
616/616 [==============================] - 0s 552us/step - loss: 33.5977 - accuracy: 0.6904 - val_loss: 32.3218 - val_accuracy: 0.7214
Epoch 11/100
616/616 [==============================] - 0s 512us/step - loss: 36.7549 - accuracy: 0.6731 - val_loss: 25.8117 - val_accuracy: 0.7370
Epoch 12/100
616/616 [==============================] - 0s 507us/step - loss: 26.9992 - accuracy: 0.6877 - val_loss: 16.8861 - val_accuracy: 0.6851
Epoch 13/100
616/616 [==============================] - 0s 532us/step - loss: 33.6160 - accuracy: 0.6831 - val_loss: 38.6406 - val_accuracy: 0.5481
Epoch 14/100
616/616 [==============================] - 0s 529us/step - loss: 28.6248 - accuracy: 0.6886 - val_loss: 10.5102 - val_accuracy: 0.6760
Epoch 15/100
616/616 [==============================] - 0s 530us/step - loss: 25.5841 - accuracy: 0.6862 - val_loss: 8.2016 - val_accuracy: 0.6955
Epoch 16/100
616/616 [==============================] - 0s 534us/step - loss: 26.8704 - accuracy: 0.6805 - val_loss: 39.2747 - val_accuracy: 0.8000
Epoch 17/100
616/616 [==============================] - 0s 520us/step - loss: 22.7306 - accuracy: 0.6815 - val_loss: 19.4875 - val_accuracy: 0.6877
Epoch 18/100
616/616 [==============================] - 0s 513us/step - loss: 22.4093 - accuracy: 0.6847 - val_loss: 12.4499 - val_accuracy: 0.6519
Epoch 19/100
616/616 [==============================] - 0s 515us/step - loss: 20.9078 - accuracy: 0.6804 - val_loss: 19.0458 - val_accuracy: 0.7481
Epoch 20/100
616/616 [==============================] - 0s 511us/step - loss: 16.8231 - accuracy: 0.6898 - val_loss: 21.6123 - val_accuracy: 0.7617
Epoch 21/100
616/616 [==============================] - 0s 509us/step - loss: 14.5551 - accuracy: 0.6896 - val_loss: 7.4811 - val_accuracy: 0.7818
Epoch 22/100
616/616 [==============================] - 0s 510us/step - loss: 16.0258 - accuracy: 0.6929 - val_loss: 14.9788 - val_accuracy: 0.8019
Epoch 23/100
616/616 [==============================] - 0s 510us/step - loss: 17.8682 - accuracy: 0.6862 - val_loss: 33.7386 - val_accuracy: 0.7987
Epoch 24/100
616/616 [==============================] - 0s 513us/step - loss: 15.3212 - accuracy: 0.6813 - val_loss: 17.7523 - val_accuracy: 0.6753
Epoch 25/100
616/616 [==============================] - 0s 514us/step - loss: 12.6006 - accuracy: 0.6831 - val_loss: 6.1129 - val_accuracy: 0.7747
Epoch 26/100
616/616 [==============================] - 0s 513us/step - loss: 13.6249 - accuracy: 0.6878 - val_loss: 7.8166 - val_accuracy: 0.7630
Epoch 27/100
616/616 [==============================] - 0s 513us/step - loss: 10.6695 - accuracy: 0.6859 - val_loss: 7.8803 - val_accuracy: 0.8013
Epoch 28/100
616/616 [==============================] - 0s 512us/step - loss: 8.2829 - accuracy: 0.6862 - val_loss: 9.9949 - val_accuracy: 0.7240
Epoch 29/100
616/616 [==============================] - 0s 512us/step - loss: 8.7082 - accuracy: 0.6823 - val_loss: 18.7942 - val_accuracy: 0.6532
Epoch 30/100
616/616 [==============================] - 0s 513us/step - loss: 6.7051 - accuracy: 0.6880 - val_loss: 11.4129 - val_accuracy: 0.7584
Epoch 31/100
616/616 [==============================] - 0s 515us/step - loss: 5.7423 - accuracy: 0.6912 - val_loss: 8.5890 - val_accuracy: 0.8013
Epoch 32/100
616/616 [==============================] - 0s 512us/step - loss: 5.1570 - accuracy: 0.6870 - val_loss: 6.8249 - val_accuracy: 0.7818
Epoch 33/100
616/616 [==============================] - 0s 513us/step - loss: 5.4682 - accuracy: 0.6912 - val_loss: 3.1838 - val_accuracy: 0.7422
Epoch 34/100
616/616 [==============================] - 0s 511us/step - loss: 6.3683 - accuracy: 0.6851 - val_loss: 2.8694 - val_accuracy: 0.7195
Epoch 35/100
616/616 [==============================] - 0s 511us/step - loss: 5.6322 - accuracy: 0.6940 - val_loss: 3.3533 - val_accuracy: 0.8006
Epoch 36/100
616/616 [==============================] - 0s 509us/step - loss: 4.1956 - accuracy: 0.6849 - val_loss: 4.6522 - val_accuracy: 0.7857
Epoch 37/100
616/616 [==============================] - 0s 513us/step - loss: 3.8902 - accuracy: 0.6870 - val_loss: 3.6392 - val_accuracy: 0.7987
Epoch 38/100
616/616 [==============================] - 0s 516us/step - loss: 3.2926 - accuracy: 0.6890 - val_loss: 4.8360 - val_accuracy: 0.5214
Epoch 39/100
616/616 [==============================] - 0s 514us/step - loss: 3.0697 - accuracy: 0.6878 - val_loss: 5.3755 - val_accuracy: 0.7994
Epoch 40/100
616/616 [==============================] - 0s 514us/step - loss: 4.0670 - accuracy: 0.6935 - val_loss: 1.2203 - val_accuracy: 0.7851
Epoch 41/100
616/616 [==============================] - 0s 515us/step - loss: 2.7202 - accuracy: 0.7006 - val_loss: 2.4195 - val_accuracy: 0.7968
Epoch 42/100
616/616 [==============================] - 0s 512us/step - loss: 2.6652 - accuracy: 0.6984 - val_loss: 3.9858 - val_accuracy: 0.7987
Epoch 43/100
616/616 [==============================] - 0s 515us/step - loss: 1.9356 - accuracy: 0.7144 - val_loss: 0.8510 - val_accuracy: 0.7922
Epoch 44/100
616/616 [==============================] - 0s 513us/step - loss: 1.8853 - accuracy: 0.7203 - val_loss: 0.8545 - val_accuracy: 0.6201
Epoch 45/100
616/616 [==============================] - 0s 514us/step - loss: 1.6809 - accuracy: 0.7297 - val_loss: 0.9929 - val_accuracy: 0.6253
Epoch 46/100
616/616 [==============================] - 0s 512us/step - loss: 1.7759 - accuracy: 0.7542 - val_loss: 0.8441 - val_accuracy: 0.8013
Epoch 47/100
616/616 [==============================] - 0s 514us/step - loss: 1.3371 - accuracy: 0.7542 - val_loss: 1.2185 - val_accuracy: 0.7805
Epoch 48/100
616/616 [==============================] - 0s 549us/step - loss: 1.1406 - accuracy: 0.7604 - val_loss: 0.9397 - val_accuracy: 0.7578
Epoch 49/100
616/616 [==============================] - 0s 513us/step - loss: 1.0648 - accuracy: 0.7615 - val_loss: 0.5637 - val_accuracy: 0.8013
Epoch 50/100
616/616 [==============================] - 0s 514us/step - loss: 1.2040 - accuracy: 0.7675 - val_loss: 0.9033 - val_accuracy: 0.8019
Epoch 51/100
616/616 [==============================] - 0s 516us/step - loss: 0.9687 - accuracy: 0.7692 - val_loss: 0.6823 - val_accuracy: 0.8000
Epoch 52/100
616/616 [==============================] - 0s 515us/step - loss: 1.1015 - accuracy: 0.7656 - val_loss: 1.4326 - val_accuracy: 0.5727
Epoch 53/100
616/616 [==============================] - 0s 515us/step - loss: 0.9623 - accuracy: 0.7675 - val_loss: 0.9802 - val_accuracy: 0.8006
Epoch 54/100
616/616 [==============================] - 0s 517us/step - loss: 0.7677 - accuracy: 0.7713 - val_loss: 1.0354 - val_accuracy: 0.5916
Epoch 55/100
616/616 [==============================] - 0s 515us/step - loss: 0.7713 - accuracy: 0.7731 - val_loss: 0.5990 - val_accuracy: 0.6916
Epoch 56/100
616/616 [==============================] - 0s 513us/step - loss: 0.7449 - accuracy: 0.7732 - val_loss: 0.9579 - val_accuracy: 0.8013
Epoch 57/100
616/616 [==============================] - 0s 515us/step - loss: 0.6644 - accuracy: 0.7769 - val_loss: 0.7504 - val_accuracy: 0.8013
Epoch 58/100
616/616 [==============================] - 0s 513us/step - loss: 0.6114 - accuracy: 0.7804 - val_loss: 0.5131 - val_accuracy: 0.8013
Epoch 59/100
616/616 [==============================] - 0s 515us/step - loss: 0.5789 - accuracy: 0.7836 - val_loss: 0.6889 - val_accuracy: 0.8013
Epoch 60/100
616/616 [==============================] - 0s 518us/step - loss: 0.6504 - accuracy: 0.7817 - val_loss: 0.5280 - val_accuracy: 0.8013
Epoch 61/100
616/616 [==============================] - 0s 513us/step - loss: 0.5418 - accuracy: 0.7875 - val_loss: 0.5378 - val_accuracy: 0.8013
Epoch 62/100
616/616 [==============================] - 0s 519us/step - loss: 0.5325 - accuracy: 0.7907 - val_loss: 0.4932 - val_accuracy: 0.8013
Epoch 63/100
616/616 [==============================] - 0s 513us/step - loss: 0.5394 - accuracy: 0.7903 - val_loss: 0.5007 - val_accuracy: 0.8013
Epoch 64/100
616/616 [==============================] - 0s 513us/step - loss: 0.5139 - accuracy: 0.7938 - val_loss: 0.5002 - val_accuracy: 0.8013
Epoch 65/100
616/616 [==============================] - 0s 512us/step - loss: 0.5068 - accuracy: 0.7955 - val_loss: 0.4990 - val_accuracy: 0.8013
Epoch 66/100
616/616 [==============================] - 0s 515us/step - loss: 0.5063 - accuracy: 0.7955 - val_loss: 0.5004 - val_accuracy: 0.8013
Epoch 67/100
616/616 [==============================] - 0s 514us/step - loss: 0.5064 - accuracy: 0.7955 - val_loss: 0.4997 - val_accuracy: 0.8013
Epoch 68/100
616/616 [==============================] - 0s 517us/step - loss: 0.5063 - accuracy: 0.7955 - val_loss: 0.5021 - val_accuracy: 0.8013
Epoch 69/100
616/616 [==============================] - 0s 516us/step - loss: 0.5066 - accuracy: 0.7955 - val_loss: 0.4989 - val_accuracy: 0.8013
Epoch 70/100
616/616 [==============================] - 0s 516us/step - loss: 0.5060 - accuracy: 0.7955 - val_loss: 0.5051 - val_accuracy: 0.8013
Epoch 71/100
616/616 [==============================] - 0s 515us/step - loss: 0.5116 - accuracy: 0.7958 - val_loss: 0.5013 - val_accuracy: 0.8013
Epoch 72/100
616/616 [==============================] - 0s 514us/step - loss: 0.5066 - accuracy: 0.7955 - val_loss: 0.4985 - val_accuracy: 0.8013
Epoch 73/100
616/616 [==============================] - 0s 513us/step - loss: 0.5066 - accuracy: 0.7953 - val_loss: 0.5027 - val_accuracy: 0.8013
Epoch 74/100
616/616 [==============================] - 0s 515us/step - loss: 0.5067 - accuracy: 0.7955 - val_loss: 0.5016 - val_accuracy: 0.8013
Epoch 75/100
616/616 [==============================] - 0s 522us/step - loss: 0.5068 - accuracy: 0.7953 - val_loss: 0.5010 - val_accuracy: 0.8013
Epoch 76/100
616/616 [==============================] - 0s 516us/step - loss: 0.5065 - accuracy: 0.7955 - val_loss: 0.5008 - val_accuracy: 0.8013
Epoch 77/100
616/616 [==============================] - 0s 515us/step - loss: 0.5067 - accuracy: 0.7955 - val_loss: 0.5003 - val_accuracy: 0.8013
Epoch 78/100
616/616 [==============================] - 0s 516us/step - loss: 0.5065 - accuracy: 0.7955 - val_loss: 0.5026 - val_accuracy: 0.8013
Epoch 79/100
616/616 [==============================] - 0s 515us/step - loss: 0.5084 - accuracy: 0.7951 - val_loss: 0.4992 - val_accuracy: 0.8013
Epoch 80/100
616/616 [==============================] - 0s 515us/step - loss: 0.5071 - accuracy: 0.7953 - val_loss: 0.4987 - val_accuracy: 0.8013
Epoch 81/100
616/616 [==============================] - 0s 515us/step - loss: 0.5068 - accuracy: 0.7953 - val_loss: 0.4995 - val_accuracy: 0.8013
Epoch 82/100
616/616 [==============================] - 0s 515us/step - loss: 0.5078 - accuracy: 0.7953 - val_loss: 0.4991 - val_accuracy: 0.8013
Epoch 83/100
616/616 [==============================] - 0s 517us/step - loss: 0.5067 - accuracy: 0.7955 - val_loss: 0.4991 - val_accuracy: 0.8013
Epoch 84/100
616/616 [==============================] - 0s 524us/step - loss: 0.5063 - accuracy: 0.7955 - val_loss: 0.5009 - val_accuracy: 0.8013
Epoch 85/100
616/616 [==============================] - 0s 620us/step - loss: 0.5067 - accuracy: 0.7955 - val_loss: 0.4995 - val_accuracy: 0.8013
Epoch 86/100
616/616 [==============================] - 0s 621us/step - loss: 0.5065 - accuracy: 0.7955 - val_loss: 0.5005 - val_accuracy: 0.8013
Epoch 87/100
616/616 [==============================] - 0s 627us/step - loss: 0.5069 - accuracy: 0.7955 - val_loss: 0.4993 - val_accuracy: 0.8013
Epoch 88/100
616/616 [==============================] - 0s 624us/step - loss: 0.5068 - accuracy: 0.7955 - val_loss: 0.5003 - val_accuracy: 0.8013
Epoch 89/100
616/616 [==============================] - 0s 593us/step - loss: 0.5070 - accuracy: 0.7955 - val_loss: 0.4995 - val_accuracy: 0.8013
Epoch 90/100
616/616 [==============================] - 0s 585us/step - loss: 0.5076 - accuracy: 0.7951 - val_loss: 0.5009 - val_accuracy: 0.8013
Epoch 91/100
616/616 [==============================] - 0s 570us/step - loss: 0.5066 - accuracy: 0.7955 - val_loss: 0.5000 - val_accuracy: 0.8013
Epoch 92/100
616/616 [==============================] - 0s 542us/step - loss: 0.5063 - accuracy: 0.7955 - val_loss: 0.4991 - val_accuracy: 0.8013
Epoch 93/100
616/616 [==============================] - 0s 582us/step - loss: 0.5064 - accuracy: 0.7955 - val_loss: 0.5000 - val_accuracy: 0.8013
Epoch 94/100
616/616 [==============================] - 0s 549us/step - loss: 0.5065 - accuracy: 0.7955 - val_loss: 0.5001 - val_accuracy: 0.8013
Epoch 95/100
616/616 [==============================] - 0s 549us/step - loss: 0.5065 - accuracy: 0.7955 - val_loss: 0.4997 - val_accuracy: 0.8013
Epoch 96/100
616/616 [==============================] - 0s 553us/step - loss: 0.5067 - accuracy: 0.7955 - val_loss: 0.4989 - val_accuracy: 0.8013
Epoch 97/100
616/616 [==============================] - 0s 541us/step - loss: 0.5061 - accuracy: 0.7955 - val_loss: 0.4996 - val_accuracy: 0.8013
Epoch 98/100
616/616 [==============================] - 0s 563us/step - loss: 0.5066 - accuracy: 0.7955 - val_loss: 0.4998 - val_accuracy: 0.8013
Epoch 99/100
616/616 [==============================] - 0s 567us/step - loss: 0.5065 - accuracy: 0.7955 - val_loss: 0.5000 - val_accuracy: 0.8013
Epoch 100/100
616/616 [==============================] - 0s 571us/step - loss: 0.5066 - accuracy: 0.7955 - val_loss: 0.5000 - val_accuracy: 0.8013

Now lets plot Model loss during training or validation this will enable us to check for overfitting in our model. We will use loss and validation loss training metrics

In [63]:
X_random_sample = np.array([[700,1,1,45,1,0.00,4,1,1,50000.78]])
Y_predict = model.predict(X_random_sample)

1/1 [==============================] - 0s 12ms/step

In [66]:
print('The Customer (0 for remained,1 for left) =',Y_predict.round())

The Customer (0 for remained,1 for left) = [[0.]]